body{
  margin: 0px;
}
.list-style li{
  color: darkblue;
}
.page-header
{
  font-size: 32px;
  background-color:lightblue;
  color: darkblue;
  width: 100%;
  text-align: center;
}
.footer
{
position: absolute;
bottom: 0;
width: 100%;
height: 1.5rem;
font-size: 18px;
background-color:lightblue;
text-align: center;
}
.todo-item{
  width: 350px;
  border-color: black;
  /* padding: 1px 1px 1px 15px; */
  background-color: cadetblue;
  padding-bottom: 2px;
  margin-bottom: 5px;
  position: relative;
  height: 70px;
}
/* .todo-item {
  border-bottom: 1px dotted #cfcfcf;
  font-size: 20px;
  padding: 6px;
  position: relative;
} */